---
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import MinutesRead from "./MinutesRead.astro";

export interface Props {
  variant?: "h2" | "h3";
  post: CollectionEntry<"blog">;
}

const { variant = "h2", post } = Astro.props;

const { data, id, filePath } = post;

const { title, description, publishedAt, modifiedAt } = data;

const headerProps = {
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<div>
  <a
    href={getPath(id, filePath)}
    class="text-accent inline-block text-lg font-medium decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <div class="my-2 flex items-center gap-2">
    <Datetime {publishedAt} {modifiedAt} />
    <MinutesRead post={post} />
  </div>
  <p>{description}</p>
</div>
